@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: $blue-grey-900;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.55;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  z-index: 9;
}

.yt-player {
  display: none;
}
