// colors
$red-400: #EF5350;
$red-600: #E53935;
$green-400: #66BB6A;
$green-600: #43A047;
$blue-400: #42A5F5;
$blue-600: #1E88E5;

$blue-grey-400: #78909C;
$blue-grey-700: #455A64;
$blue-grey-900: #263238;

$teal: #26A69A;
$amber: #FFCA28;
$yellow: #FFEE58;

$white: #fff;
$black: #000;
$orange: #ff7700;
