@import "./utils/settings";

body {
  font-size: 64px;
}

.section {
  &--skills {
    // padding-bottom: 3cm;
    margin-bottom: 0;
  }
}

.skill__item {
  &--yc {
    padding-top: 4cm;
  }

  &--tap-battle {
    padding-bottom: 2.5cm;
  }
}

.tool {
  &__level {
    margin-bottom: 4px;
  }

  &__star {
    display: none;
    &--fill {
      display: block;
    }
  }
}

.t-desc__heading {
  &--ci-cd {
    padding-top: 4cm;
  }
}

.inline-helper {
  align-items: flex-end;
}

.main {
  padding: 4cm 4rem 0;
}

.print-me {
  display: none;
}

@page {
  margin: 0 0.5cm;
}
