@import './utils/settings';


body {
  font-size: 64px;
}

.section {
  &--skills {
    padding-top: 9cm;
    padding-bottom: 3cm;
  }

  &--projects {
    padding-top: 4cm;
  }
}

.t-desc__heading--unit-tests {
  margin-top: 2.5cm;
}

.t-desc__heading--ci-cd {
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tool {
  &__level {
    margin-bottom: 4px;
  }

  &__star {
    display: none;
    &--fill {
      display: block;
    }
  }
}

.inline-helper {
  align-items: flex-end;
}

.main {
  padding: 4cm 4rem;
}

.print-me {
  display: none;
}

@page { margin: 0 .5cm; }
