body {
  font-size: 64px;
}

.main {
  margin-top: 1cm;
}

.section {
  &--skills {
    margin-top: 12cm;
    padding-bottom: 2cm;
  }

  &--projects {
    margin-top: 10cm;
  }
}

.tool__level {
  display: none;
}

pre {
  margin-bottom: .5cm;
}

.t-desc__heading--unit-tests {
  margin-top: 2.5cm;
}
